.container {
  header {
    padding: 10px 10px 10px 10px;

    .menu-button {
      .logo {
        margin-left: 20px;
        color: green;
        font-weight: bold;
      }
    }
    .right-buttons {
      display: inline-block;
      float: right;
      padding: 10px;

      .card-id {
        font-size: x-small;
        padding-right: 30px;
      }
    }
  }

  .menu {
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-right: 1px gray solid;

    ul {
      list-style: none;

      li {
        margin-top: 30px;
      }
    }
  }

  .cards {
    padding: 10px;

      .card {
        padding: 10px;
        margin-bottom: 30px;
        background-color: aliceblue;
        border-radius: 5px;
        border: 1px white solid;
        font-size: small;

        .date {
          padding: 3px 3px 3px 10px;
          background-color: rgb(230, 230, 230);
          font-size: x-small;
        }
        .type {
          text-align: right;
        }
        .description {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .hospital {
          text-align: center;
          font-weight: bold;
        }
      }
  }

  .card-item {
    padding: 0px 10px 10px 10px;
    font-size: small;

    .date {
      font-size: small;

      .time {
        padding-left: 20px;
        color: grey;
        font-size: x-small;
      }
    }
    .type {
      text-align: right;
      font-weight: bold;
    }
    .description {

      div {
        margin-top: 20px;
        background-color: rgb(250,250,250);

        .title {
          font-size: x-small;
          padding: 3px 20px;
          background-color: rgba(0,250,0,0.1);
        }
        p {
          padding-top: 4px;
        }
      }
    }
  }

  .add-card-link {
    position: fixed;
    right: 30px;
    bottom: 25px;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: green;

    .oi {
      color: white;
    }
  }
}