.container header {
  padding: 10px 10px 10px 10px;
}
.container header .menu-button .logo {
  margin-left: 20px;
  color: green;
  font-weight: bold;
}
.container header .search-magnifier {
  right: 10px;
  top: 10px;
}
.container .menu {
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: white;
  border-right: 1px gray solid;
}
.container .menu ul {
  list-style: none;
}
.container .menu ul li {
  margin-top: 30px;
}
.container .cards {
  padding: 10px;
}
.container .cards .card {
  padding: 10px;
  margin-bottom: 30px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px white solid;
  font-size: small;
}
.container .cards .card .date {
  padding: 3px 3px 3px 10px;
  background-color: #e6e6e6;
  font-size: x-small;
}
.container .cards .card .type {
  text-align: right;
}
.container .cards .card .description {
  padding-top: 10px;
  padding-bottom: 10px;
}
.container .cards .card .hospital {
  text-align: center;
  font-weight: bold;
}
.container .card-item {
  padding: 10px;
}
.container .card-item .date {
  font-size: small;
}
.container .card-item .date .time {
  padding-left: 30px;
}
.container .add-card-link {
  position: fixed;
  right: 30px;
  bottom: 25px;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: green;
}
.container .add-card-link .oi {
  color: white;
}
