.container header {
  padding: 10px 10px 10px 10px;
}
.container header .menu-button .logo {
  margin-left: 20px;
  color: green;
  font-weight: bold;
}
.container header .right-buttons {
  display: inline-block;
  float: right;
  padding: 10px;
}
.container header .right-buttons .card-id {
  font-size: x-small;
  padding-right: 30px;
}
.container .menu {
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: white;
  border-right: 1px gray solid;
}
.container .menu ul {
  list-style: none;
}
.container .menu ul li {
  margin-top: 30px;
}
.container .cards {
  padding: 10px;
  color: #646464;
}
.container .cards .card {
  padding: 10px;
  margin-bottom: 30px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px white solid;
  font-size: small;
}
.container .cards .card .date {
  display: inline;
  font-size: x-small;
}
.container .cards .card .card-id {
  font-size: small;
}
.container .cards .card .card-id .oi {
  font-size: xx-small;
}
.container .cards .card .description {
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
}
.container .cards .card .hospital {
  text-align: right;
}
.container .cards .card .hospital .oi {
  margin-left: 10px;
}
.container .card-item {
  padding: 0px 10px 10px 10px;
  font-size: small;
}
.container .card-item .date {
  font-size: small;
}
.container .card-item .date .time {
  padding-left: 20px;
  color: grey;
  font-size: x-small;
}
.container .card-item .type {
  text-align: right;
  font-weight: bold;
}
.container .card-item .description div {
  margin-top: 20px;
  background-color: aliceblue;
  padding: 5px;
}
.container .card-item .description div .title {
  font-size: x-small;
  padding: 3px 20px;
  background-color: rgba(0, 250, 0, 0.1);
}
.container .card-item .description div p {
  padding-top: 4px;
}
.container .add-card-link {
  position: fixed;
  right: 30px;
  bottom: 25px;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: green;
}
.container .add-card-link .oi {
  color: white;
}
