html, body {
  max-width: 100%;
  overflow-x: hidden;
}

header {
  padding: 10px 10px 10px 10px;

  .menu_button_box {
    .logo {
      margin-left: 20px;
      color: green;
      font-weight: bold;
    }
  }
  .right_icon {
    right: 10px;
    top: 10px;
    padding: 7px;
  }

  // card page
  .card_page_title {
    padding-left: 70px;
    //font-size: larger;
    color: green;
  }
}

.left_menu {
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgb(253, 255, 253);
  border-right: 1px gray solid;
  // to see menu - comment line below
  transform: translate3d(-100vw, 0, 0);
  transition: transform .3s ease-in;

  .user_data {
    padding: 20px;

    span {
      margin-right: 20px;
    }
  }
  ul {
    list-style: none;

    li {
      margin-top: 30px;

      a {
        color: black;
      }
    }
  }
}
.right_menu {
  width: 50%;
  position: absolute;
  padding-bottom: 30px;
  right: 0;
  z-index: 1;
  background-color: rgb(253, 255, 253);
  border-bottom: 1px gray solid;
  transform: translate3d(0, -100vw, 0);
  transition: transform .3s ease-in;
  font-weight: bold;

  ul {
    list-style: none;

    li {
      margin-top: 30px;

      a {
        color: black;
      }
    }
  }
}
.visible {
  transform: translate3d(0, 0vw, 0);
}

.add_card_link {
  position: fixed;
  right: 30px;
  bottom: 25px;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: green;

  .oi {
    color: white;
  }
}

// home page
.home_page {
  padding: 10px;

  a {
    color: black;

    &:hover {
      text-decoration: none;
    }
    .card {
      padding: 10px;
      margin-bottom: 45px;
      background-color: rgb(249, 253, 255);
      border: 1px white solid;
      font-size: small;

      .date {
        padding: 3px 3px 3px 10px;
        background-color: rgb(250, 250, 250);
        font-size: x-small;

        .card_id {
          float: right;
        }
      }
      .type {
        text-align: right;
      }
      .description {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .hospital {
        text-align: center;
        font-weight: bold;
      }
      .files {
        font-size: x-small;
      }
    }
  }
}

// card page
.card_page {
  padding: 0 20px;

  .title_elements {
    .type {
      font-weight: bolder;
    }
    .date {
      color: gray;
    }
  }

  .paragraph {
    font-size: small;
    padding-top: 50px;

    .title {
      padding-left: 30px;
      padding-bottom: 10px;
      font-size: larger;
      font-style: italic;
    }
    ul {
      padding: 0 10px;
    }
    ul.pictures_list {
      list-style: none;

      img {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}

.add_card_page {

  .main_icons {
    .oi {
      font-size: xx-large;
    }
  }
}

.under_construction_page {

  .content {
    margin-top: 80px;
    padding: 30px;

    .logo {
      text-align: center;
      color: green;
      font-weight: bold;
      font-size: large;
    }
    h1 {
      //text-align: center;
      font-size: medium;
      margin-top: 40px;
    }
  }
}

// login and register pages
.auth_pages {

  .logo {
    color: green;
    font-weight: bold;
    font-size: large;
  }
  h1 {
    text-align: center;
    font-size: large;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .register_button_box {
    margin-top: 50px;
  }
}