@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

html, body {
  max-width: 100%;
  overflow-x: hidden;

  font-size: medium;
}

.logo {
  font-family: 'Manrope', sans-serif;
  color: white;
  font-weight: bold;
  background-color: green;
  padding: 0 4px;
  border-radius: 2px;

  .oi {
    padding-right: 7px;
    font-size: small;
    color: white;
  }
}

header {
  padding: 20px 10px 10px 10px;

  .menu_button_box {
    .logo {
      margin-left: 30px;
    }
  }
  .menu_button, .search_button {
    &:hover {
      cursor: pointer;
    }
  }
  .right_icon {
    right: 10px;
    top: 10px;
    padding: 7px;
  }

  // card page
  .card_page_title {
    padding-left: 70px;
    color: green;
    font-size: smaller;
  }
}

.left_menu {
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgb(253, 255, 253);
  border-right: 1px gray solid;
  // to see menu - comment line below
  transform: translate3d(-100vw, 0, 0);
  transition: transform .3s ease-in;

  .user_data {
    padding: 20px;

    span {
      margin-right: 20px;
    }
  }
  ul {
    list-style: none;

    li {
      margin-top: 30px;

      a {
        color: black;
      }
    }
  }
}
.right_menu {
  width: 50%;
  position: absolute;
  padding-bottom: 30px;
  right: 0;
  z-index: 1;
  background-color: rgb(253, 255, 253);
  border-bottom: 1px gray solid;
  transform: translate3d(0, -100vw, 0);
  transition: transform .3s ease-in;
  font-weight: bold;

  ul {
    list-style: none;

    li {
      margin-top: 30px;
      &:hover {
        cursor: pointer;
      }

      a {
        color: black;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.visible {
  transform: translate3d(0, 0vw, 0);
}

.add_card_link {
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: green;
  font-size: larger;

  .oi {
    color: white;
  }
}

// home page
.home_page {
  padding: 10px;

  a {
    color: black;

    &:hover {
      text-decoration: none;
    }
    .card {
      padding: 10px 10px 30px 10px;
      margin-bottom: 45px;
      background-color: rgb(249, 253, 255);
      border: 1px rgb(220, 243, 245) solid;
      font-size: medium;

      .title {
        padding: 3px 3px 3px 10px;
        background-color: rgb(250, 250, 250);
        font-size: x-small;

        .card_id {
          text-align: right;
        }
      }
      .type {
        text-align: right;
        font-size: small;
        font-style: italic;
      }
      .description {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .visited {
        padding-top: 10px;
        padding-left: 10px;
        font-size: small;

        .oi {
          margin-right: 10px;
          font-size: x-small;
        }
      }
      .files {
        margin-top: 15px;
        margin-left: 10px;
        font-size: x-small;

        img {
          width: 80px;
          margin-right: 10px;
          border: 1px rgb(220, 243, 245) solid;
          filter: opacity(70%);
        }

        .text {
          margin-left: 10px;
        }
      }
    }
  }
}

// card page
.card_page {
  padding: 10px 0 40px 0;
  background-color: rgb(249, 253, 255);
  border: 1px rgb(220, 243, 245) solid;

  .card_data_box {
    padding: 0 20px 0 20px;
  }
  .title_elements {
    .type {
      font-size: small;
      font-style: italic;
    }
    .date {
      color: gray;
    }
  }

  .paragraph {
    font-size: medium;
    padding-top: 40px;

    .title {
      padding: 5px 10px 5px 30px;
      margin-bottom: 10px;
      font-size: x-small;
      font-style: italic;
      color: gray;
      //background: linear-gradient(to right, white, rgb(249, 253, 255));
      border-radius: 1px;

      .oi {
        margin-right: 10px;
        font-size: x-small;
      }
    }
    ul {
      padding: 0 10px;
    }
    ul.pictures_list {
      list-style: none;
      padding: 0;

      img {
        width: 100%;
        margin-top: 10px;
        border: 1px lightgray solid;
        border-radius: 2px;
      }
    }
  }
}

// add card page
.add_card_page {
  .card_inputs {
    .badge-secondary {
      margin-left: 7px;
      .oi {
        padding-right: 7px;
      }
    }
  }
  //.previously_loaded_title {
  //  font-size: small;
  //  margin-top: 30px;
  //}
  //.picture {
  //  text-align: center;
  //  margin-top: 20px;

    //.delete_button {
    //  float: right;
    //  position: relative;
    //  background-color: darkslategrey;
    //  border-radius: 15px;
    //  color: white;
    //  padding: 5px 6px 8px 6px;
    //}
    //img {
    //  max-width: 86%;
    //  border: 1px black solid;
    //  border-radius: 7px;
    //}
  //}
}

// under construction page
.under_construction_page {

  .menu_button_box {
    .logo {
      margin-left: 37px;
    }
  }
  .content {
    margin-top: 80px;
    padding: 30px;

    h1 {
      font-size: medium;
      margin-top: 40px;
    }
  }
}

// login and register pages
.auth_pages {
  h1 {
    text-align: center;
    font-size: large;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .register_button_box {
    margin-top: 50px;
    font-size: small;
  }
}