.container header {
  padding: 10px 10px 10px 10px;
}
.container header .menu-button .oi:hover {
  cursor: pointer;
}
.container header .menu-button .logo {
  margin-left: 20px;
  color: green;
  font-weight: bold;
}
.container header .right-icon {
  right: 10px;
  top: 10px;
}
.container header .card-page-title {
  padding-left: 70px;
  color: green;
}
.container .left-menu {
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: white;
  border-right: 1px gray solid;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 0.3s ease-in;
}
.container .left-menu ul {
  list-style: none;
}
.container .left-menu ul li {
  margin-top: 30px;
}
.container .visible {
  transform: translate3d(0vw, 0, 0);
}
.container .add-card-link {
  position: fixed;
  right: 30px;
  bottom: 25px;
  padding: 10px 15px;
  border-radius: 30px;
  background-color: green;
}
.container .add-card-link .oi {
  color: white;
}
.container .mainpage-cards {
  padding: 10px;
}
.container .mainpage-cards a {
  color: black;
}
.container .mainpage-cards a:hover {
  text-decoration: none;
}
.container .mainpage-cards a .card {
  padding: 10px;
  margin-bottom: 30px;
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px white solid;
  font-size: small;
}
.container .mainpage-cards a .card .date {
  padding: 3px;
  background-color: #e6e6e6;
  padding-left: 10px;
  font-size: x-small;
}
.container .mainpage-cards a .card .date .card-id {
  float: right;
}
.container .mainpage-cards a .card .type {
  text-align: right;
}
.container .mainpage-cards a .card .description {
  padding-top: 10px;
  padding-bottom: 10px;
}
.container .mainpage-cards a .card .hospital {
  text-align: center;
  font-weight: bold;
}
.container .card-page {
  padding: 0 20px;
}
.container .card-page .title-elements .type {
  font-weight: bolder;
}
.container .card-page .parargaph {
  font-size: small;
  padding-top: 30px;
}
.container .card-page .parargaph .title {
  padding-left: 30px;
  padding-bottom: 10px;
  font-size: larger;
  font-style: italic;
}
.container .card-page .parargaph ul {
  padding: 0 10px;
}
.container .add_card_page .main_icons .oi {
  font-size: xx-large;
}
.container .add_card_page .pictures .title {
  font-size: small;
  padding: 7px 20px;
}
.container .add_card_page .pictures .row {
  margin-bottom: 40px;
}
.container .add_card_page .pictures ul {
  list-style-type: none;
  padding-left: 0;
}
.container .add_card_page .pictures img {
  width: 100%;
}
